/* general ------*/

p {
    font-size: 68px;
}

#texto-imagen {
    color: #11111;
}

.texto-principal {
    text-decoration: line-through;
    text-shadow: 0px px #FF0000;
}

div {
    font-size: 8px;
    } 





/* estilos tipográficos--*/


   a {font-size: 20px;
   color: chartreuse; 
     }
   a:hover {color:darksalmon; text-decoration-line: none;
     }




    

/* cabecera---------*/







/* estructura------*/










/* pie de página------*/







 
 

/* páginas------*/